@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --color-azure-radiance-50: hsl(206, 94%, 97%);
  --color-azure-radiance-100: hsl(208, 94%, 93%);
  --color-azure-radiance-200: hsl(208, 94%, 87%);
  --color-azure-radiance-300: hsl(206, 94%, 78%);
  --color-azure-radiance-400: hsl(207, 92%, 68%);
  --color-azure-radiance-500: hsl(211, 88%, 60%);
  --color-azure-radiance-600: hsl(215, 90%, 55%);
  --color-azure-radiance-700: hsl(219, 73%, 48%);
  --color-azure-radiance-800: hsl(220, 68%, 40%);
  --color-azure-radiance-900: hsl(219, 61%, 33%);
  --color-azure-radiance-950: hsl(221, 53%, 21%);

  --color-crusta-50: #fff6ed;
  --color-crusta-100: #ffebd5;
  --color-crusta-200: #fdd2ab;
  --color-crusta-300: #fbb276;
  --color-crusta-400: #f9873e;
  --color-crusta-500: #f7732b; /* https://uicolors.app/generate/f7732b */
  --color-crusta-600: #e74d0f;
  --color-crusta-700: #c0380e;
  --color-crusta-800: #982e14;
  --color-crusta-900: #7b2813;
  --color-crusta-950: #421108;

  --color-cinnabar-50: #fff1f1;
  --color-cinnabar-100: #ffe1e1;
  --color-cinnabar-200: #ffc7c7;
  --color-cinnabar-300: #ffa1a1;
  --color-cinnabar-400: #ff6a6a;
  --color-cinnabar-500: #f72b2b; /* https://uicolors.app/generate/f72b2b */
  --color-cinnabar-600: #e51d1d;
  --color-cinnabar-700: #c11414;
  --color-cinnabar-800: #9f1515;
  --color-cinnabar-900: #841818;
  --color-cinnabar-950: #480707;
}

:root {
  --background: #fffdfd;
  --foreground: #3d3d3d;
  --card: hsl(0 0% 99%);
  --card-foreground: hsl(0 0% 12%);
  --primary: var(--color-crusta-500);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: #f6f6f6;
  --secondary-foreground: #636363;
  --muted: hsl(0 0% 93%);
  --muted-foreground: #636363;
  --accent: #e8e8e8;
  --accent-foreground: hsl(0 0% 12%);
  --destructive: var(--color-cinnabar-500);
  --border: hsl(0 0% 91%);
  --input: hsl(0 0% 91%);
  --ring: var(--color-crusta-300);
  --chart-1: hsl(17 22% 32%);
  --chart-2: hsl(35 100% 85%);
  --chart-3: hsl(0 0% 91%);
  --chart-4: hsl(34 100% 89%);
  --chart-5: hsl(17 22% 32%);
  --sidebar: #f6f6f6;
  --sidebar-foreground: #505050;
  --sidebar-primary: var(--color-crusta-100);
  --sidebar-primary-foreground: var(--color-crusta-700);
  --sidebar-accent: #eeeeee;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(0 0% 7%);
  --foreground: hsl(0 0% 93%);
  --card: hsl(0 0% 9%);
  --card-foreground: hsl(0 0% 93%);
  --primary: hsl(30 91% 87%);
  --primary-foreground: hsl(184 44% 7%);
  --secondary: hsl(30 18% 19%);
  --secondary-foreground: hsl(30 91% 87%);
  --muted: hsl(0 0% 13%);
  --muted-foreground: hsl(0 0% 71%);
  --accent: hsl(0 0% 17%);
  --accent-foreground: hsl(0 0% 93%);
  --destructive: hsl(10 77% 55%);
  --border: hsl(43 12% 90%);
  --input: hsl(0 0% 28%);
  --ring: hsl(30 91% 87%);
  --chart-1: hsl(30 91% 87%);
  --chart-2: hsl(30 18% 19%);
  --chart-3: hsl(0 0% 17%);
  --chart-4: hsl(30 16% 22%);
  --chart-5: hsl(30 91% 87%);
  --sidebar: hsl(240 9% 10%);
  --sidebar-foreground: hsl(0 0% 96%);
  --sidebar-primary: hsl(224 77% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 6% 16%);
  --sidebar-border: hsl(240 6% 16%);
  --sidebar-ring: hsl(240 10% 84%);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --container-xsm: 40rem;
  --container-xmd: 48rem;
  --container-xlg: 64rem;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
